<li [ngClass]="{'list-group-item': true, 'mb-10': true, 'list-group-item-success': isPopular() === true, 'list-group-item-danger': isPopular() === false}">
    <div class="row">
        <div class="col-xs-8">
            <h4>{{post.title}}</h4>
        </div>
        <div class="col-xs-4 text-right">
            {{post.createdAt | date: 'd/MM/yyyy, h:mm a'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{post.content}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success widthButton mr-5" (click)="addLike(true)"><fa-icon [icon]="faThumbsUp"></fa-icon>
                <span class="ml-3" *ngIf="post.loveIts > 0">{{post.loveIts}}</span>
            </button>
            <button class="btn btn-danger widthButton" (click)="addLike(false)"><fa-icon [icon]="faThumbsDown"></fa-icon>
                <span class="ml-3" *ngIf="post.loveIts < 0">{{post.loveIts}}</span>
            </button>
        </div>
    </div>
</li>